<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Julia Hack | Contact</title>
    <link rel="stylesheet" href="/css/contactstyles.css">
</head>
<%- include partials/header %>

    <main>
        <h2>sign up for my mailing list</h2>
        <form action="/submit" method="post">
            <fieldset>
                <label for="name">name</label>
                <input type="text" id="name" name="name">
                    
                <label for="email">email</label>
                <input type="email" id="email" name="email">
                    
                
                <button type="submit" name="submit-button" id="submit-button">Submit</button>
            </fieldset>
        </form>
    </main>


<%- include partials/footer %>